<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Password Manager</title>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
	Login Page
    <form action="/login" method="post">
        <input name="username">
        <input name="password">
        <input type="submit">
    </form>
    Signup
    <form action="/signup" method="post">
        <input name="usernamelog">
        <input name="passwordsign">
        <input type="submit">
    </form>
  </body>
</html>